<div id="<%= dom_id mark %>">
  <div>
    <strong>Value:</strong>
    <%= mark.value %>
  </div>

  <div>
    <strong>Desc:</strong>
    <%= mark.desc %>
  </div>

  <div>
    <strong>Course:</strong>
    <%= mark.course_id %>
  </div>

  <div>
    <strong>Exam:</strong>
    <%= mark.exam_id %>
  </div>

  <div>
    <strong>Student:</strong>
    <%= mark.student_id %>
  </div>

</div>
