<dir>
    <h1>Admin dashboard!</h1>

    <p>Welcome <%= Current.user.email_address%>!</p>

    <%= button_to "Logout", session_path, method: :delete%>

    <ul>
        <li><%= link_to "Manage users", users_path%></li>
        <li><%= link_to "Manage students", students_users_path%></li>
        <li><%= link_to "Manage grades", grades_path%></li>
        <li><%= link_to "Manage courses", courses_path%></li>
        <li><%= link_to "Manage subjects", subjects_path%></li>
    </ul>
</dir>